@use "../core" as *;

.home {
    background: color('blue-3');
}

.home {
    .section {
        h1 {
            font-size: calc(3.75vw + 2.25rem);
            letter-spacing: -0.01em;
            line-height: 1.5;
            margin-bottom: 3rem;
            margin-top: 0;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        p {
            font-size: calc(1vw + 2rem);
        }
        li {
            margin-left: 2rem;
            font-size: calc(0.75vw + 1rem);
        }
        @media screen and (min-width: 600px) {
            h1 {
                font-size: calc(4vw + 2.75rem);
                max-width: 70vw;
            }
            p {
                font-size: calc(1vw + 2.25rem);
            }
            li {
                font-size: calc(0.5vw + 1.25rem);
            }
        }
        @media screen and (min-width: 1024px) {
            h1 {
                max-width: 61vw;
            }
        }
    }
}

// Fargo
.content-header {
    padding: 1rem 0;
    margin-bottom: 4rem;
    align-items: center;
    
    h1 {
        margin: 0;
        font-size: 6rem;
    }
}

.fargo-avatar {
    border: 2px solid #dedede;
    width: 75px;
    margin-right: 20px;
}

.fargo-header {
    font-family: font("mono");
}
