@use "../core" as *;

.home {
    // background: color('blue-3');
    margin: 0;
    // background-color: #fff;
    // background-image: url(/assets/images/stencil.svg), url('/assets/images/fpo.jpg');
    // background-position:top right, top right;
    // background-repeat: no-repeat;
    // background-size: 100% auto, cover;
}

.home {
    .section {
        h1 {
            color: color('brand');
            font-size: calc(1.75vw + 2.25rem);
            // letter-spacing: -0.01em;
            margin-bottom: 0.5em;
            margin-top: 0;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        p {
            // font-size: calc(1vw + 2rem);
        }
        li {
            margin-left: 2rem;
            // font-size: calc(0.75vw + 1rem);
        }
        @media screen and (min-width: 600px) {
            h1 {
                // font-size: calc(2vw + 2.75rem);
                max-width: 70vw;
            }
            p {
                // font-size: calc(1vw + 2.25rem);
            }
            li {
                // font-size: calc(0.5vw + 1.25rem);
            }
        }
        @media screen and (min-width: 1024px) {
            h1 {
                max-width: 61vw;
            }
        }
    }
}

// Fargo
.content-header {
    padding: 1rem 0;
    margin-bottom: 4rem;
    align-items: center;
    
    h1 {
        margin: 0;
        font-size: 6rem;
    }
}

.fargo-avatar {
    border: 2px solid #dedede;
    width: 75px;
    margin-right: 20px;
}

.fargo-header {
    font-family: font("mono");
}

.category {
    h4 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    p {
        max-width: 80%;
        padding-right: 2rem;
    }
}
.category-icon {
    margin-right: 8px;
}
.category-svg {
    height: 2em;
    width: 2em;
}
.category-name {
}
