@use "../core" as *;

.wrapper {
    @include wrapper;
    margin: 0 auto;
}

.main-content {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    min-height: 60vh;
    overflow: auto;
    padding: 3rem 0 12rem;
    position: relative;
    scroll-behavior: smooth;
    transition: padding 0.25s linear;

    @media screen and (min-width: 768px) {
        height: auto;
        padding-bottom: 6rem;
    }
}
