@use "../core" as *;

.section {
    color: color($base-font-color);
    
    h1, h2, h3, h4 {
        margin-top: 1em;
    }
    
}

.section--white {
    color: color($base-font-color);
}

.section--blue {
    background: color('blue-7');
    color: white;
    
    li::marker {
        color: inherit;
    }
}

.section--green {
    background: color('green-7');
    color: white;

    li::marker {
        color: inherit;
    }
}

.section--padded {
    padding: 4rem 0;
}