@use "../core" as *;

.section {
    color: color($base-font-color);
    
    h1, h2, h3 {
        margin-top: 1em;
    }
}

.section--white {
    background: white;
    color: color($base-font-color);
}

.section--blue {
    background: color('blue-3');
    color: white;
}

.section__header {
    padding: 2rem;
    h2, h3 {
        @include font-size('h1');
        font-weight: 700;
    }
}

.section__body {
    padding: 0 2rem 4rem;
    h3 {
        @include font-size('h4');
        font-weight: 600;
    }
}
