@font-face {
    font-family: Colfax;
    font-weight: 300;
    src: url('/assets/fonts/ColfaxWebLight.woff2') format('woff2');
}

@font-face {
    font-family: Colfax;
    font-weight: 400;
    src: url('/assets/fonts/ColfaxWebRegular.woff2') format('woff2');
}

@font-face {
    font-family: Colfax;
    font-weight: 500;
    src: url('/assets/fonts/ColfaxWebMedium.woff2') format('woff2');
}

@font-face {
    font-family: Colfax;
    font-weight: 700;
    src: url('/assets/fonts/ColfaxWebBold.woff2') format('woff2');
}
