/*
----------------------------------------
GENERAL SETTINGS
----------------------------------------
*/

// General Typography
$body-background-color: "white";
$body-font: "narrow";
$body-font-weight: "light";
$base-font-color: "gray-14";
$base-font-color-light: "gray-7";
$base-line-height: "5";

// Links
$link-color: "blue-5";
$link-underline-color: "blue-3";
$link-underline-thickness: .125em;

// Visited links
$link-color-visited: "blue-7";
$link-underline-color-visited: "blue-7";

// Hover links
$link-color-hover: "blue-5";
$link-underline-color-hover: "blue-3";
$link-decoration-line-hover: underline;

// Headings
$heading-font: "narrow";
$heading-font-weight: "medium";
$heading-line-height: "2";

// Footer
$footer-background-color: "blue-1";
$footer-text-color: "white";
$footer-link-color: "white";
$footer-link-underline-color: "white";
$footer-link-underline-thickness: 1px;
$footer-link-decoration-line-hover: none;
$footer-height: 5.5rem;
$footer-font-size: 1.4rem;
$footer-font-weight: "medium";

/*
----------------------------------------
COLORS
----------------------------------------
*/

// Accent
$highlight-color: "yellow";

// Success
$success-color: "green-5";

// Error
$error-color: "red-5";

/*
----------------------------------------
Accessibility
----------------------------------------
*/
$focus-color: "yellow";
$focus-offset: "0";
$focus-style: solid;
$focus-width: "0.5";

/*
----------------------------------------
Buttons
----------------------------------------
*/

// Default button
$button-background-color: "gray-1";
$button-border-color: "gray-2";
$button-border-radius: "md";
$button-border-width: "1px";
$button-font-size: "small";
$button-label-color: "gray-14";
$button-label-weight: "medium";
$button-padding-x: "1.5";
$button-padding-y: "0.5";

$button-background-color-hover: "gray-2";
$button-border-color-hover: "gray-2";
$button-label-color-hover: "gray-14";

$button-background-color-active: "gray-5";
$button-border-color-active: "gray-2";
$button-label-color-active: "white";

// Primary action buttons
$button-primary-background-color: "blue-5";
$button-primary-border-color: "blue-5";
$button-primary-label-color: "white";

$button-primary-background-color-hover: "blue-7";
$button-primary-border-color-hover: "blue-7";
$button-primary-label-color-hover: "white";

$button-primary-background-color-active: "blue-7";
$button-primary-border-color-active: "blue-7";
$button-primary-label-color-active: "white";

// External buttons
$button-external-background-color: "blue-9";
$button-external-border-color: "blue-9";
$button-external-label-color: "white";

$button-external-background-color-hover: "blue-7";
$button-external-border-color-hover: "blue-1";
$button-external-label-color-hover: "white";

$button-external-background-color-active: "blue-7";
$button-external-border-color-active: "blue-1";
$button-external-label-color-active: "white";

// Small buttons
$button-small-font-size: "small";
$button-small-padding-x: "1.5";
$button-small-padding-y: "0.25";

// Big buttons
$button-big-font-size: "h5";
$button-big-padding-x: "4";
$button-big-padding-y: "1";

// Disabled buttons
$button-background-color-disabled: "gray-5";
$button-border-color-disabled: "gray-5";
$button-label-color-disabled: "white";

