---
layout: layouts/base.njk
title: TandemGov – Good government, better partnerships
seo_title: TandemGov – Good government, better partnerships
seo_description: TandemGov helps organizations navigate government contracting while leveraging their strengths.
permalink: /
slug: home
sectionColor: blue
---
{% section "white", "section--padded" %}
<h1>Good government,<br>better partnerships</h1>
<p>We help organizations navigate government contracting while leveraging their strengths.</p>
<p>If you want expert support for your government contracting efforts, let's talk!</p>
<h4><a class="button button--primary button--big" data-savvycal-embed="" data-umami-event="Meeting schedule pop-up triggered" href="https://savvycal.com/tandemgov/hello" target="_blank">Schedule time to chat</a></h4>
{% endsection %}

{% section "blue", "section--padded" %}
    <div class="grid-row grid-gap">
        {% for category in tandemgov.services %}
        {% if category.display %}
        <div class="grid-col-12 desktop:grid-col-6 category">
            <h4>
                <div class="category-icon">{% icon category.icon, "category-svg", "fill", "icons" %}</div>
                <div class="category-name">{{ category.name }}</div>
            </h4>
            {% comment %}
            <ul>
                {% for service in category.items %}
                    <li>{{ service }}</li>
                {% endfor %}
            </ul>
            {% endcomment %}
            <p>{{ category.description }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endsection%}
